<div [ngClass]="'tabs'">
    <ul>
        <div *ngFor="let tabItem of tabItems">
            <li (click)="onTabClick(tabItem)">
                <div [ngClass]="{'active': tabItem === activeItem}">{{tabItem}}</div>
            </li>
        </div>
    </ul>
</div>
<!-- let listItems = this.props.tabItems.map((item) =>
<li onClick={() => this.onTabChangeEvent(item)}>
    <div className={item === this.props.activeItem ? 'active' : ''}>{item}</div>
</li>
);
return (
<div class="tabs">
    <ul>
        {listItems}
    </ul>
</div>
); -->