<div>
    tab-item-component, activeItem: {{activeItem}}
    <app-all-list-container [items]="items"></app-all-list-container>
    <app-finished-items-list-container [items]="items"></app-finished-items-list-container>
    <app-todo-items-list-container [items]="items"></app-todo-items-list-container>
    <div>
        <app-new-list-item-input (eventEmitter)="onNewItemCreated($event)"></app-new-list-item-input>
    </div>
    <!-- {childComponent}
    <NewListItemInput onAddButtonClick={this.onAddNewItemButtonClick}/> -->
</div>
